<div id="todo">
  <div class="toolbox">
    <input type="text" class="todo" /><button class="add">Add Todo</button>
  </div>

  <div class="todo_list">

  </div>

  <div id="todo_template" style="display: none;">
    <div class="todo">
      <h2>Todo Name</h2>
      <ul>
        <li><a href="#" class="delete">Delete</a></li>
        <li><a href="#" class="complete">Complete</a></li>
      </ul>
    </div>
  </div>
</div>